@model HotelPortal.Models.Room

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <form enctype="multipart/form-data" asp-action="Create" asp-route-hotelId="@Model.HotelId">
        <h2 style="padding-bottom:15px">Add room</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="Price" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Price" name="price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="Capacity" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Capacity" name="capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Images" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Images" type="file" multiple />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <a class="btn btn-default btn-block" asp-action="Index">Back to List</a>
            </div>
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary btn-block" value="Add Room" />
            </div>
        </div>
    </form>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for-id="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
