@using HotelPortal.Models
@model IList<Room>

<h2>Available rooms</h2>
<hr />
@if (Model == null || !Model.Any())
{
    <div class="contentText">No rooms available.</div>
}
else
{
    <div class="row">
        <div class=" col-sm-12">
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("RoomImage")
                        </th>
                        <th>
                            @Html.DisplayName("Hotel")
                        </th>
                        <th>
                            @Html.DisplayName("Capacity")
                        </th>
                        <th>
                            @Html.DisplayName("Price")
                        </th>
                        <th></th>
                        <th></th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img src="@Url.Action("RoomMainImage", new {parentId = item.Id})" class="contentImage" width="50" height="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotel.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-block" asp-controller="Bookings" asp-action="Create" asp-route-id="@item.Id">Reserve</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Details","Rooms",new {id=item.Id })'">Details</a>
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a class="btn btn-default btn-block" onclick="location.href='@Url.Action("Edit","Rooms",new {id=item.Id })'">Edit</a>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}


