@model IEnumerable<HotelPortal.Models.Hotel>
@using HotelPortal.Controllers
@{
    ViewData["Title"] = "Index";
}

<body>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    <label>Search</label>
                </div>
                <div class="panel panel-body">
                    <form asp-controller="Rooms" asp-action="List" name="form" onsubmit="return ValidateSearch()">
                        <div class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">City: </label>
                            </div>
                            <div class="col-sm-4">
                                <select name="cityId" class="form-control">
                                    @foreach (var item in ViewBag.Cities)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label">Stars: </label>
                            </div>
                            <div class="col-sm-2">
                                <select name="stars" class="form-control">
                                    @for (int i = 1; i < 6; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label">Guests: </label>
                            </div>
                            <div class="col-sm-2">
                                <input name="guest" class="form-control" type="number" min="0" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">Min price: </label>
                            </div>
                            <div class="col-sm-4">
                                <input name="min" class="form-control" type="number" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Max price: </label>
                            </div>
                            <div class="col-sm-4">
                                <input name="max" class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">Start date:</label>
                            </div>
                            <div class="col-sm-4">
                                <input name="from" class="form-control" type="date" required />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">End date:</label>
                            </div>
                            <div class="col-sm-4">
                                <input name="to" class="form-control" type="date" required />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input class="btn btn-primary btn-block" type="submit" value="Search Rooms" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h2>Some of our best hotels</h2>
            <div>
            </div>
            @if (Model != null)
            {
                int count = 5;
                if (Model.Count() < count)
                {
                    count = Model.Count();
                }

                for (int i = 0; i < count; i++)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a onclick="location.href='@Url.Action("Details","Hotels",new {id=Model.ElementAt(i).Id })'"><b>@Model.ElementAt(i).Name</b></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="@Url.Action("HotelMainImage", new {parentid=Model.ElementAt(i).Id })" width="100" height="100" />
                                </div>
                                <div class="col-sm-8">
                                    <label class="label label-default">City: @Model.ElementAt(i).City.Name</label>
                                    <p>@Model.ElementAt(i).Description</p>
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="col-sm-12">
                                        <a class="btn btn-default btn-block" onclick="location.href='@Url.Action("Edit","Hotels", new {id=Model.ElementAt(i).Id})'">
                                            Edit
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>